@import "tailwindcss";

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-accent: #ecad0a;
  --color-primary: #209dd7;
  --color-secondary: #753991;
  --color-navy: #032147;
  --color-graytext: #a1a1aa;
}

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
}
