@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
